@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
/*
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}
*/
::placeholder {color: #cccccc;}


/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 13px; font-weight: 400; color: #3e4855; background-color: #fafcfe;}
#wrapper {position: relative; min-width: 850px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}

#header {position: fixed; left: 0; top: 0; width: 100%; min-width: 850px; height: 60px; background: linear-gradient(154deg, #008fe2 0, #00b29c 100%); z-index: 10000;}
#header div.logo {position: absolute; left: 0; top: 0; width: 220px; height: 100%; background-color: rgba(255, 255, 255, 0.1);}
#header h1 {position: absolute; top: 0; left: 20px; top: 50%; transform: translate(0, -50%); height: 50px;}
#header h1 a {display: block; height: 100%;}
#header h1 a img {height: 100%;}
#header h1 a span {position: absolute; left: 52px; bottom: 6px; font-size: 11px; font-weight: 300; color: #ffffff;}
#header div.logo a.toggle {position: absolute; right: 10px; top: 50%; transform: translate(0, -50%); width: 24px; height: 24px; border-radius: 4px; font-size: 10px; color: rgba(255, 255, 255, 0.5); transition: all 0.3s;}
#header div.logo a.toggle:hover {background-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.8);}
#header div.logo a.toggle i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: transform 0.3s;}
#header div.logo a.toggle.close i {transform: translate(-50%, -50%) rotate(180deg);}

#header div.user {position: absolute; left: 250px; top: 50%; transform: translate(0, -50%);}
#header div.user > a {display: block;}
#header div.user > a > * {vertical-align: middle;}
#header div.user > a span.photo {display: inline-block; width: 36px; height: 36px; overflow: hidden; border-radius: 100px; background: #ffffff url(../img/common/icon_face.png) center center no-repeat; background-size: cover; text-indent: -9999px;}
#header div.user > a em.name {font-size: 14px; color: #ffffff; margin: 0 20px 0 5px;}
#header div.user > a em.name span {font-size: 13px; color: rgba(255, 255, 255, 0.8); margin-left: 3px;}
#header div.user > a span.toggle {position: relative; display: inline-block; width: 24px; height: 24px; border-radius: 3px; font-size: 10px; color: rgba(255, 255, 255, 0.5); transition: all 0.3s;}
#header div.user > a:hover span.toggle {background-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.8);}
#header div.user > a span.toggle i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: transform 0.3s;}
#header div.user > a.close span.toggle i {transform: translate(-50%, -50%) rotate(180deg);}
#header div.user div.popup {position: absolute; left: calc(100% - 12px); top: calc(100% + 15px); width: 300px; height: 200px; transform: translate(-50%, 0); background: #ffffff; box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2); border-radius: 5px; display: none;}
#header div.user div.popup::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, -100%); border: 10px solid transparent; border-bottom-color: #ffffff;}
#header-link {position: absolute; right: 20px; top: 50%; transform: translate(0, -50%);}
#header-link > li {float: left; position: relative;}
#header-link > li + li {margin-left: 6px;}
#header-link > li > a {position: relative; display: block; width: 40px; height: 40px; box-sizing: border-box; border: 2px solid rgba(255, 255, 255, 0.2); border-radius: 3px; font-size: 16px; color: rgba(255, 255, 255, 0.8); transition: all 0.3s;}
#header-link > li > a:hover {border-color: rgba(255, 255, 255, 0.3); color: rgba(255, 255, 255, 0.95); background-color: rgba(255, 255, 255, 0.2);}
#header-link > li > a i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

#gnb {position: fixed; left: 0; top: 60px; width: 220px; height: calc(100vh - 60px); background-color: #ffffff; padding: 20px 15px; box-sizing: border-box; overflow: auto; font-size: 13px; z-index: 1000;}
#gnb > nav {padding-bottom: 100px;}
#gnb h3 {font-size: 14px; margin-bottom: 10px;}
#gnb ul.nav + h3 {margin-top: 20px;}
#gnb ul.nav {color: #8da0aa;}
#gnb ul.nav > li + li {margin-top: 3px;}
#gnb ul.nav > li > a {position: relative; display: block; border: 1px solid transparent; border-radius: 4px; line-height: 30px; padding: 0 20px 0 30px; transition: all 0.3s; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#gnb ul.nav > li.on > a {border-color: #d1d9dd; color: #1c82e1;}
#gnb ul.nav > li > a:hover {border-color: #d1d9dd; color: #1c82e1; text-decoration: underline;}
#gnb ul.nav > li > a > i:first-child {position: absolute; left: 6px; top: 50%; transform: translate(0, -50%); color: #0093d9; opacity: 0.6;}
#gnb ul.nav > li > a > i:last-child {position: absolute; right: 10px; top: 50%; transform: translate(0, -50%); font-size: 8px; transition: all 0.3s;}
#gnb ul.nav > li.on > a > i:last-child {transform: translate(0, -50%) rotate(90deg);}
#gnb ul.nav > li > ul {overflow: hidden; font-size: 12px; height: 0;}
#gnb ul.nav > li.on > ul {height: auto;}
#gnb ul.nav > li > ul > li {border: 1px solid #f8f9fa; overflow: hidden;}
#gnb ul.nav > li > ul > li + li {border-top: none;}
#gnb ul.nav > li > ul > li:first-child {border-top-left-radius: 4px; border-top-right-radius: 4px; margin-top: 10px;}
#gnb ul.nav > li > ul > li:last-child {border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; margin-bottom: 10px;}
#gnb ul.nav > li > ul > li > a {position: relative; display: block; line-height: 32px; transition: all 0.3s; padding: 0 5px 0 25px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#gnb ul.nav > li > ul > li.on > a {background-color: #fcfdfe; color: #1c82e1;}
#gnb ul.nav > li > ul > li > a:hover {background-color: #fcfdfe; color: #1c82e1; text-decoration: underline;}
#gnb ul.nav > li > ul > li > a::before {content: ''; position: absolute; width: 8px; height: 8px; border-radius: 20px; left: 8px; top: 50%; transform: translate(0, -50%); background: #8da0aa; opacity: 0.3; transition: all 0.3s;}
#gnb ul.nav > li > ul > li.on > a::before,
#gnb ul.nav > li > ul > li > a:hover::before {background-color: #0093d9;}



body.sub #main {margin: 60px 0 0 220px; min-height: calc(100vh - 90px); padding: 20px 30px 100px 30px; box-sizing: border-box;}
body.sub #main h2 {font-size: 24px; font-weight: 400;}
body.sub #main h2 + p {font-size: 12px; opacity: 0.6; margin-bottom: 30px;}

#footer {background: linear-gradient(154deg, #008fe2 0, #00b29c 100%); line-height: 30px; font-size: 12px; font-weight: 300; text-align: center; margin-left: 220px; color: #ffffff;}
#footer p {opacity: 0.8;}










/* module */
section.layout {position: relative;}
section.layout::after {content: ''; display: block; clear: both;}
section.layout + section.layout {margin-top: 20px;}
section.layout > section.layout-box {position: relative; float: left; min-height: 150px; background: #ffffff; border: 1px solid #dfe8f1; border-radius: 4px; padding: 15px; box-sizing: border-box;}
section.layout > section.layout-box + section.layout-box {margin-left: 20px;}
section.layout.col-1 > section.layout-box {width: 100%;}
section.layout.col-2 > section.layout-box {width: calc(50% - 10px);}
section.layout.col-3 > section.layout-box {width: calc(33.33% - 13.33px);}
section.layout.col-4 > section.layout-box {width: calc(25% - 15px);}
section.layout.col-2-1 > section.layout-box:first-child {width: calc(66.66% - 6.66px);}
section.layout.col-2-1 > section.layout-box:last-child {width: calc(33.33% - 13.33px);}
section.layout.col-1-2 > section.layout-box:first-child {width: calc(33.33% - 13.33px);}
section.layout.col-1-2 > section.layout-box:last-child {width: calc(66.66% - 6.66px);}
section.layout.col-3-1 > section.layout-box:first-child {width: calc(75% - 5px);}
section.layout.col-3-1 > section.layout-box:last-child {width: calc(25% - 15px);}
section.layout.col-1-3 > section.layout-box:first-child {width: calc(25% - 15px);}
section.layout.col-1-3 > section.layout-box:last-child {width: calc(75% - 5px);}
section.layout > section.layout-box h3 {font-size: 18px; font-weight: 300; margin-bottom: 20px;}
@media screen and (max-width: 1100px) {
  section.layout > section.layout-box {float: none; width: 100% !important;}
  section.layout > section.layout-box + section.layout-box {margin-left: 0; margin-top: 30px;}
}

div.button-box {}
div.button-box.left {text-align: left;}
div.button-box.center {text-align: center;}
div.button-box.right {text-align: right;}

.btn {position: relative; overflow: hidden; font-family: inherit; font-size: 13px; display: inline-block; min-width: 100px; height: 30px; text-align: center; padding: 0 10px; line-height: 28px; background: pink; color: #000000; border: 1px solid transparent; box-sizing: border-box; vertical-align: middle; border-radius: 4px; appearance: none; -webkit-appearance: none;}

.btn.small {min-width: 60px; height: 24px; line-height: 22px; font-size: 11px; padding: 0 6px;}
.btn.medium {min-width: 100px; height: 30px; line-height: 28px; font-size: 13px; padding: 0 10px;}
.btn.large {min-width: 140px; height: 36px; line-height: 34px; font-size: 15px; padding: 0 15px;}
.btn.larger {min-width: 180px; height: 42px; line-height: 40px; font-size: 18px; padding: 0 22px;}

.btn.main {background-color: #00bca4; color: #ffffff; border-color: #00a792;}
.btn.link {background-color: #f3f3f9; color: #2b2f33; border-color: #bfc8d1;}
.btn.caution {background-color: #d9534f; color: #ffffff; border-color: #d43f3a;}
.btn.form {background-color: #65a6ff; color: #ffffff; border-color: #5388d1;}

.btn.left {float: left; margin-right: 3px;}

.btn.icon-left {padding-left: 2.4em;}
.btn.icon-left i {position: absolute; left: 0; top: 0; width: 2em; height: 100%; background: rgba(255, 255, 255, 0.2);}
.btn.icon-left i::before {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.btn.icon {min-width: auto; padding: 0; width: 2em; height: 2em; line-height: 2em; border-radius: 10em;}
.btn.icon i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

span.badge {font-size: 12px; position: absolute; right: 0; top: 0; background-color: #41e5c0; color: #ffffff; min-width: 1.4em; height: 1.4em; line-height: 1.4em; border-radius: 5em; padding: 0 0.4em; box-sizing: border-box; text-align: center; transform: translate(40%, -40%); z-index: 10;}
span.badge.red {background-color: #cf4436;}
span.badge.lime {background-color: #41e5c0;}
span.badge.yellow {background-color: #ffcc00;}

.custom-scroll {scrollbar-width: thin; scrollbar-color: transparent transparent;}
.custom-scroll:hover {scrollbar-color: rgba(0, 0, 0, 0.3) transparent;}
.custom-scroll::-webkit-scrollbar {width: 5px;}
.custom-scroll::-webkit-scrollbar-thumb {background-color: transparent; border-radius: 20px;}
.custom-scroll::-webkit-scrollbar-track {background-color: transparent;}
.custom-scroll:hover::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.1);}

.graph-circle {position: relative; display: inline-block; vertical-align: middle; width: 140px; height: 140px; background-color: #e0e0e0; border-radius: 100%; overflow: hidden; text-align: center; font-size: 13px;}
.graph-circle > .indicator {position: absolute; left: 0; top: 0; width: 50%; height: 100%; background-color: #41e5c0; z-index: 5; transform-origin: right center; transform: rotate(0); transition: transform 0.3s;}
.graph-circle > .cover {position: absolute; left: 0; top: 0; width: 50%; height: 100%; background-color: #e0e0e0; z-index: 6; transform-origin: right center;}
.graph-circle.over50 > .cover {transform: rotate(180deg); background-color: #41e5c0;}
.graph-circle > .text {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 15;}
.graph-circle > .text > em {display: block; font-size: 1.8em; font-weight: bold;}
.graph-circle::after {content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 88%; height: 88%; background: #ffffff; border-radius: 100%; z-index: 10;}

table.content {width: 100%; font-size: 13px;}
table.content th,
table.content td {border: 1px solid #dfe8f1; padding: 6px 10px; max-width: 1px;}
table.content th {background: #f9f9f9;}


table.form-box {width: 100%; font-size: 13px;}
table.form-box td {border: 1px solid #dfe8f1; padding: 6px 10px; max-width: 1px;}
table.form-box td.th {font-weight: 700; text-align: right; background: #f9f9f9; width: 120px;}

.form-box input.text {font-family: inherit; font-size: 13px; display: inline-block; border: 1px solid #dfe8f1; width: 180px; height: 30px; border-radius: 4px; background: #ffffff; box-sizing: border-box; padding: 0 12px; transition: all 0.3s; appearance: none; -webkit-appearance: none;}
.form-box input.text:focus {outline: none; border-color: #3da6ff; box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);}
.form-box input[type="radio"],
.form-box input[type="checkbox"] {margin: 0; vertical-align: middle; margin-right: 5px;}

.form-box select {font-family: inherit; font-size: 13px; display: inline-block; border: 1px solid #dfe8f1; height: 30px; border-radius: 4px; box-sizing: border-box; padding: 0 30px 0 12px; transition: all 0.3s; background: #ffffff url(../img/common/icon_select.png) right 5px center no-repeat; background-size: 14px auto; appearance: none; -webkit-appearance: none;}
.form-box select:focus {outline: none; border-color: #3da6ff; box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);}

.form-box textarea {font-family: inherit; font-size: 13px; display: block; border: 1px solid #dfe8f1; width: 100%; height: 100px; border-radius: 4px; background: #ffffff; box-sizing: border-box; padding: 12px; transition: all 0.3s; appearance: none; -webkit-appearance: none; resize: none;}
.form-box textarea:focus {outline: none; border-color: #3da6ff; box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);}


.form-box [readonly] {background: #fefefe !important;}
.form-box [disabled] {background: #f9f9f9 !important; opacity: 0.3; cursor: no-drop;}


/*
div.input-group {position: relative; display: inline-block; width: 300px; height: 30px;}
div.input-group > * {float: left;}
div.input-group .icon {position: relative; width: 30px; height: 100%; border: 1px solid #dfe8f1; box-sizing: border-box; background: #fefefe; font-size: 13px; border-radius: 4px;}
div.input-group .icon i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
div.input-group input.text {width: calc(100% - 30px);}
div.input-group > :first-child {border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;}
div.input-group > :last-child {border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}
div.input-group > .icon:first-child {border-right: none;}
div.input-group > .icon:last-child {border-left: none;}
div.input-group > .icon.main {background: #00bca4; border-color: #00a792; color: #ffffff;}
*/

div.input-group {position: relative; display: inline-block;}
div.input-group > * {float: left;}
div.input-group .icon {position: relative; min-width: 30px; height: 30px; border: 1px solid #dfe8f1; box-sizing: border-box; padding: 0 8px; line-height: 28px; background: #fefefe; font-size: 13px; border-radius: 4px;}
div.input-group .icon i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
div.input-group > :first-child {border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;}
div.input-group > :last-child {border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}
div.input-group > .icon:first-child {border-right: none;}
div.input-group > .icon:last-child {border-left: none;}
div.input-group > .icon.main {background: #00bca4; border-color: #00a792; color: #ffffff;}

div.input-group.box {width: 300px; height: 30px;}
div.input-group.box .icon {width: 30px;}
div.input-group.box > input.text {width: calc(100% - 30px);}

ul.input-list {line-height: 30px;}
ul.input-list > li {display: inline-block; margin-right: 20px;}

ul.input-file-list {}
ul.input-file-list > li {position: relative; overflow: hidden; height: 30px; border: 1px solid #dfe8f1; border-radius: 4px; box-sizing: border-box; line-height: 28px; font-size: 13px; background: #ffffff; transition: box-shadow 0.3s;}
ul.input-file-list > li:hover {box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);}
ul.input-file-list > li + li {margin-top: 3px;}
ul.input-file-list > li > i {color: #ffcc00; margin: 0 10px 0 12px;}
ul.input-file-list > li img {position: absolute; left: 12px; top: 50%; transform: translate(0, -50%);}
ul.input-file-list > li > a {display: block;}
ul.input-file-list span.name {display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 35px; padding-right: 200px;}
ul.input-file-list span.size {position: absolute; right: 12px; top: 50%; transform: translate(0, -50%); background: #ffcc00; color: #ffffff; font-size: 11px; line-height: 18px; padding: 0 6px; border-radius: 4px;}
ul.input-file-list p.function {position: absolute; right: 80px; top: 50%; transform: translate(0, -50%);}
ul.input-file-list p.function > a {position: relative; float: left; width: 20px; height: 20px; border-radius: 100px; background: #008fe2; color: #ffffff; transform: scale(0); transition: transform 0.3s;}
ul.input-file-list > li:hover p.function > a {transform: scale(1);}
ul.input-file-list p.function > a + a {margin-left: 5px;}
ul.input-file-list p.function > a i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
ul.input-file-list + input[type="file"] {margin-top: 10px;}


ul.input-image-list {overflow: hidden; font-size: 12px; margin-bottom: -10px;}
ul.input-image-list > li {position: relative; float: left; width: 180px; height: 180px; overflow: hidden; border: 1px solid #dfe8f1; background-color: #fafcfe; border-radius: 4px; box-sizing: border-box; margin: 0 10px 10px 0; padding: 5px; transition: box-shadow 0.3s;}
ul.input-image-list > li:hover {box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05);}
ul.input-image-list > li > * {display: block;}
ul.input-image-list > li span.thumb {height: 120px; border: 1px solid #dfe8f1; border-radius: 4px; background: #ffffff; box-sizing: border-box; overflow: hidden; position: relative; text-align: center; line-height: 120px;}
ul.input-image-list > li span.thumb i {font-size: 40px; color: #ffcc00;}
ul.input-image-list > li span.thumb img {max-width: 100%; max-height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
ul.input-image-list > li span.thumb span {position: absolute; left: 0; bottom: -24px; width: 100%; line-height: 24px; font-size: 12px; color: #ffffff; background: rgba(0, 0, 0, 0.5); transition: bottom 0.3s;}
ul.input-image-list > li:hover span.thumb span {bottom: 0;}
ul.input-image-list + input[type="file"] {margin-top: 10px;}


input[type="file"] {position: absolute; opacity: 0;}
input[type="file"]:focus + a.btn {outline: 3px solid pink;}

/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
*/




