/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobile_only {display: none !important;}
#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
/*  */
.landingEffect {
  height: 100vh;
  position: relative;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  overflow-x: hidden;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://placekitten.com/1200/800');
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.logoDiv {
  border: 1px solid red;
  width: 80%;
  position: fixed;
  top: 70%;
}
.textDiv {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 8%;
  width: 15%;
  min-width: 250px;
  border: 1px solid red;
  will-change: auto;
}
.textDiv > div {
  border: 1px solid red;
  width: 100%;
}
main {
  overflow-x: hidden;
}
nav {
  position: absolute;
  right: 5%;
  box-sizing: border-box;
  top: 23vh;
  height: 70vh;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; 
  color: #ddd;
  font-family:'Times New Roman', Times, serifxs;
  border: 1px solid red;
  width: 130px;
}
nav.fixed {position: fixed;}
nav.mobile {width: 0;}
nav ul {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
nav ul > li {
  font-size: 20px;
  padding-left: 20px;
}
nav ul > li > span {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 100%;
}
nav ul > li > span i {
  border: 1px solid blue;
  overflow: hidden;
  position: absolute;
  font-style: normal;
  font-size: 15px;
}
nav ul > li > span .mobile {
  width: 0;
}

nav ul > li:not(:last-child) > span::before {
  /* 0 */
  content: '';
  position: absolute;
  background: #dadada;
  border-radius: 50%;
  width: 12px; height: 12px;
  top: 50%; left: -30px;
  transform: translateY(-50%);
} 
nav ul > li.on > span::before {
  background: #ffffff;
  box-shadow: 0 0 6px 1px #fff;
}
nav ul > li > span::after {
  /* l */
  content: '';
  position: absolute;
  height: 12vh;
  min-height: 50px;
  width: 2px;
  background-color: #ffffff87;
  top: -35%;
  left: -30px;
  transform: translate(5px, -100%);
}
nav ul > li:first-child > span::after {
  background-image: linear-gradient(to bottom, transparent 90%, #ffffff87);
  border-radius: 60% 60% 0 0;
}
nav ul > li:last-child > span::after {
  background-image: linear-gradient(to bottom, #ffffff87 10%, transparent);
  border-radius: 0 0 60% 60%;
}
main {
  position: relative;
  width: 100%;
  background: green;
}
section {
  position: relative;
  height: 100vh;
  width: 100%;
  border: 1px solid red;
  box-sizing: border-box;
  overflow-x: hidden;
}
section > div {
  position: absolute;
  border: 1px solid red;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  font-size: 90px;
}
#section1 > div {
  left: 40%;
  font-size: 14px;
}

.bg-image.fade-in {
  opacity: 1;
}
.landingEffect.fade-in{
  opacity: 1;
}
.fade-in-left {
  animation: fade-in-left 1s ease;
}
.fade-in-top {
  animation: fade-in-top 1s ease;
}
.fade-in-bottom {
  animation: fade-in-bottom 1s ease;
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}