/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobile_only {display: none !important;}
#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
/*  */
.landingEffect {
  height: 100vh;
  position: relative;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  overflow-x: hidden;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://placekitten.com/1200/800');
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.logoDiv {
  border: 1px solid red;
  width: 80%;
  position: fixed;
  top: 70%;
}
.textDiv {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 8%;
  width: 15%;
  min-width: 250px;
  border: 1px solid red;
  will-change: auto;
}
.textDiv > div {
  border: 1px solid red;
  width: 100%;
} 
nav {
  position: absolute;
  right: 5%;
  box-sizing: border-box;
  top: 23vh;
  height: 70vh;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; 
  color: #ddd;
  font-family:'Times New Roman', Times, serifxs;
  width: 130px;
}
nav.fix {position: fixed;}
nav.mobile {width: 0;}
nav ul {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
nav ul > li {
  font-size: 20px;
  padding-left: 20px;
}
nav ul > li > span {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 100%;
}
nav ul > li > span i {
  overflow: hidden;
  position: absolute;
  font-style: normal;
  font-size: 15px;
}
nav ul > li > span .mobile {
  width: 0;
}

nav ul > li:not(:last-child) > span::before {
  /* 0 */
  content: '';
  position: absolute;
  background: #dadada;
  border-radius: 50%;
  width: 12px; height: 12px;
  top: 50%; left: -30px;
  transform: translateY(-50%);
} 
nav ul > li.on > span::before {
  background: #ffffff;
  box-shadow: 0 0 6px 1px #fff;
}
nav ul > li > span::after {
  /* l */
  content: '';
  position: absolute;
  height: 12vh;
  min-height: 50px;
  width: 2px;
  background-color: #ffffff87;
  top: -35%;
  left: -30px;
  transform: translate(5px, -100%);
}
nav ul > li:first-child > span::after {
  background-image: linear-gradient(to bottom, transparent 90%, #ffffff87);
  border-radius: 60% 60% 0 0;
}
nav ul > li:last-child > span::after {
  background-image: linear-gradient(to bottom, #ffffff87 10%, transparent);
  border-radius: 0 0 60% 60%;
}
main {
  position: relative;
  /* height: 100vh; */
  width: 100%;
  background: green;
  /* overflow: hidden; */
}
section {
  position: relative;
  height: 100vh;
  width: 100%;
  border: 1px solid red;
  box-sizing: border-box;
  overflow-x: hidden;
}
section > div {
  position: absolute;
  border: 1px solid red;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  font-size: 90px;
}
#section1 > div {
  left: 40%;
  font-size: 14px;
}

#section2 .orgChart {
  font-size: .7em;
  color: #dadada;
  word-break: keep-all;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.orgChart .ornament::after {
  /* size, b or t */
  /* bg color */
  position: absolute;
  content: '';
  transform: translate(-50%);
  border-radius: 50%;
  left: 50%;
}
.orgChart .ornament::before {
  position: absolute;
  content: '';
  width: 110%; height: 110%;
  border: 1px solid transparent;
  border-radius: 50%;
  left: 50%; top: -5%;
}
.orgChart .b.ornament::before {transform: translate(-50%) rotate(-45deg);}
.orgChart .u.ornament::before { transform: translate(-50%) rotate(135deg);}


.orgChart h2 {
  position: relative;
  background: #1c3c6d;
  width: 130px; height: 130px;
  border-radius: 50%;
}
.orgChart :is(h2, h2 ,h3, h4) span {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}

.orgChart h2::after {background: #1c3c6d;width: 10px; height: 10px;bottom: -12.5px;}
.orgChart h2.b::before {border-bottom-color: #1c3c6d; border-left-color: #1c3c6d;}
.orgChart h3::after { background: #7f9fd3;width: 8px; height: 8px;top: -10px;}
.orgChart h3.u::before {border-bottom-color: #7f9fd3; border-left-color: #7f9fd3; }
.orgChart h4 span { color: #1c3c6d;}
.orgChart h4::after { background: #b6d3ff;width: 4px; height: 4px;top: -6px;}
.orgChart h4.u::before {border-bottom-color: #b6d3ff; border-left-color: #b6d3ff; }

.orgChart h3 {margin-top: 60px;position: relative;background: #7f9fd3;width: 110px; height: 110px;border-radius: 50%;}

#section2 .orgChart > ul {
  border: 1px solid orange;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  box-sizing: border-box;
  justify-content: space-around;
  
}
.orgChart > ul > li {
  border: 1px solid yellow;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 30%; height: 200px;
  box-sizing: border-box;
  padding-top: 60px;
}
.orgChart h4 {position: absolute;top: -40px;width: 80px; height: 80px;border-radius: 50%;background-color: #b6d3ff;}


.bg-image.fade-in {
  opacity: 1;
}
.landingEffect.fade-in{
  opacity: 1;
}
.fade-in-left {
  animation: fade-in-left 1s ease;
}
.fade-in-top {
  animation: fade-in-top 1s ease;
}
.fade-in-bottom {
  animation: fade-in-bottom 1s ease;
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}