/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.hide_clipPath {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}


@font-face {
  font-family: cjFontBold;
  src: url(./font/CJ+ONLYONE+Bold.ttf);
}
@font-face {
  font-family: cjFontMedium;
  src: url(./font/CJ+ONLYONE+Medium.ttf);
}

body { 
  font-family: cjFontMedium;
}
#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}

header {
  background: red;
  opacity: 80%;
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .4s ease;
}
header > div#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%; transform: translate(-50%);
  position: absolute;
  width: 100%;
  max-width: 1200px;
}
header > div#headerContainer > * {display: inline-block;}
header h1 {display: inline-block;}
header nav {
  width: 700px;
  vertical-align: bottom;
}
header nav > * {display: inline-block;}
header nav button {display: none;}
header nav button.on {
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 255, 0.495);
  border: none;
  width: 90px;
  height: 60px;
  transition: all .4s ease;
} 
header nav button > * {
  position: absolute;
  width: 25px;
  height: 2.5px;
  background-color: white;
}
header nav button.on span {background-color: red;}
header nav button span:first-child {top: 15px;}
header nav button span:last-child{top: 25px;}
header nav ul {
  display: flex;
  right: 0;
  justify-content: space-between;
}
header nav ul li {display: inline-block;}

.section1 {
  background-color: bisque;
  height: 1080px;
}