/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.hide_clipPath {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

@font-face {
  font-family: cjFontBold;
  src: url(./font/CJ+ONLYONE+Bold.ttf);
}
@font-face {
  font-family: cjFontMedium;
  src: url(./font/CJ+ONLYONE+Medium.ttf);
}

body {font-family: cjFontMedium;}
#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
.btn {
  display: inline-block;
  height: 50px;
  padding: 10px 32px;
  border: 1px solid #4d4d4d;
  border-radius: 25px;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
  transition: .4s ease;
}
.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.ico {
  display: inline-block;
  vertical-align: top;
}
.ico path,
.ico rect {
  transition: stroke .4s ease;
}
.btn:hover .ico path,
.btn:hover .ico rect {
  stroke: #fff;
}

header {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  transition: .4s ease;
}
header * {transition: all .05s ease;}
header > div#headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  justify-content: space-between;
}
header > div#headerContainer > * {display: inline-block;}
header h1 {display: inline-block;}
header nav {
  width: 700px;
  vertical-align: bottom;
}
header nav > * {display: inline-block;}
header nav > div > a {display: none;}
header nav #headerCloseBtn {
  display: inline-block;
  position: relative;
  border: none;
  width: 50px;
  height: 50px;
  transition: all .4s ease;
  box-sizing: border-box;
  padding-right: 30px;
  background: none;
  border-style: none;
} 
header nav #headerCloseBtn > * {
  position: absolute;
  transition: all .4s ease;
  width: 25px;
  height: 2.5px;
  transform-origin: 0;
  background-color: #fff;
}
header nav #headerCloseBtn.on > * {background-color: #000;}
header nav #headerCloseBtn span:first-child {top: 15px;}
header nav #headerCloseBtn span:last-child{top: 25px;}
header nav #headerCloseBtn.on span:first-child {
  top: 15px;
  width: 21.5px;
  transform: rotate(45deg);
}
header nav #headerCloseBtn.on span:last-child{
  top: 30px;
  width: 21.5px;
  transform: rotate(-45deg);
}
header nav ul {
  display: flex;
  right: 0;
  justify-content: space-around;
  transition: all .4s ease;
}
header nav ul li {display: inline-block;}

header nav ul:hover li{color: #666;}
header nav ul li:hover {color: #fff;}

section h2 {
  font-size: 38px;
  margin-bottom: 32px;
}

#section1 {
  background-color: #000;
  position: relative;
  z-index: 2;
  height: 1080px;
}
#s1Container {
  box-sizing: border-box;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%; max-width: 1240px;
  font-size: 55px;
  font-weight: bold;
  transition: all .3s ease;
}
#s1Container > p span {
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
}
#s1Container > div {
  position: relative;
  display: inline-block;
  overflow: visible;
  margin-top: 60px;
  font-weight: lighter;
  font-size: 20px;
  color: #ff9700;
}
#s1Container > div::before {
  content: "";
  border: 1.5px solid;
  border-color: transparent transparent #ff9700 #ff9700;
  position: absolute;
  width: 10px; height: 10px;
  transform: rotate(-45deg);
  right: -30px;
  top: -4px;
  animation: scrollDownArrow 3s linear infinite;
}
#s1Container > div::after {
  content: "";
  border: 1.5px solid;
  border-color: transparent transparent #ff9700 #ff9700;
  position: absolute;
  width: 10px; height: 10px;
  transform: rotate(-45deg);
  right: -30px;
  top: 7px;
  animation: scrollDownArrow 3s .8s linear infinite;
}
#section1 > #s1SVGs {
  width: 100%; height: 1480px;
  position: absolute;
}
#section1 > #s1SVGs::before {
  content: "";
  position: absolute;
  right: 100px; top:80px;
  border-radius: 50%;
  width: 320px; height: 320px;
  background: linear-gradient(90deg, #000 0%, #0087cc 102.23%);
  transition: all .3s ease;
}
#section1 > #s1SVGs > svg:nth-child(1) {
  position: absolute;
  top: 150px;
  right: 17%;
}
#s1SVGs #s1Circle1, #s1Circle2 {
  position: absolute;
  border-radius: 50%;
  top: 800px;
  width: 345px;
  height: 345px;
  transition: all .3s ease;
}
#s1SVGs #s1Circle1 {
  left: -4px;
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.0001) 0%, #0087CC 100%);
}
#s1SVGs #s1Circle2 {
  left: 150px;
  background: linear-gradient(0deg, #0087CC 0%, rgba(24, 24, 24, 0.0001) 100%);
}

#rotateSVG {
  position: absolute;
  width: 600px;
  height: 800px;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#rotateSVG > svg {position: absolute;}
#svg1770, #svg2270 {opacity: .6;}


#s1Container > svg { /*1*/
  opacity: 0;
  animation: apearRtoL 1s  .2s forwards;
}
#s1Container > p { /*1*/
  opacity: 0;
  animation: apearRtoL 1s  .2s forwards;
}
#s1Circle1 { /*2*/
  opacity: 0;
  animation: apearLtoR 1s  .6s forwards;
}
#s1Circle2 { /*2*/
  opacity: 0;
  animation: apearRtoL 1s  .6s forwards;
}
#s1Container > div { /*3*/
  opacity: 0;
  animation: apearLtoR 1s  1.5s forwards;
}
#section1 > #s1SVGs::before { /*3*/
  opacity: 0;
  animation: apearRtoL 1s  1.5s forwards;
}
#rotateSVG { /*4*/
  opacity: 0;
  animation: apearLtoR 1s  1s forwards;
}
#svg1701 circle { /*4*/
  opacity: 0;
  animation: apearRtoL 1.5s  1.4s forwards;
} 
#svg2270 { /*4*/
  opacity: 0;
  animation: apearLtoR 1.5s  1.6s forwards;
}

#svg2270  path {
  fill: rgba(255, 255, 255, 0.449);
}


#section2 {
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-top: 200px;
}
#section2 > div {
  position: absolute;
  left: 50%; 
  transform: translate(-50%,0);
  width: 100%;
  max-width: 1240px;
}
#section2 > div > p {
  margin-top: 16px;
  font-size: 24px;
  color: #333;
}
#section2 ul {margin-top: 95px;}
#section2 ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding-right: 80px;
}
#section2 > div > ul h3 {
  margin-top: 32px;
  font-size: 26px;
}
#section2 > div > ul p {
  margin-top: 16px;
  font-size: 16px;
  opacity: .8;
}

.sInner {
  position: relative;
  margin-left: 50%;
  transform: translate(-50%,0);
  width:  100%;
  height: 400px;
  max-width: 1240px;
}

#section3 > div > ul > li {
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  padding : 40px 40px 0;
  height: 320px;
  float: left;
  box-sizing: border-box;
  width: calc(50% - 1.6%);
  margin-left: 3.2%;
}
#section3 > div > ul > li:nth-child(1) {margin-left: 0;}
#section3 > div h3 {margin-top: 32px;}
#section3 > div > ul ul,
#section3 > div > ul p {
  margin-top: 16px;
  color: #333;
}
#section3 > div > ul ul > li {
  list-style: disc;
  list-style-position: inside;
  text-indent: -20px;
  padding-left: 20px;
}
/* s4 */
#section4::after {
  content: "";
  display: block;
  clear: both;
  height: 200px;
}
#section4 ul {
  position: relative;
  padding-top: 40px;
}
#section4 ul li {
  float: left; overflow: hidden;
  box-sizing: border-box;
  height: 460px; width: 46.8%;
  padding: 60px;
  margin-bottom: 3%;
  position: relative;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  border: 0;
}
#section4 ul li:nth-child(even) {
  top: 80px; margin-left: 3%;
}
#section4 ul li p {
  position: relative;
  margin-top: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  word-break: keep-all;
}
#section4 ul li::after {
  content: "";
  position: absolute;
  bottom: 0; right: 0;
}
#section4 ul li:nth-child(1)::after {
  width: 440px; height: 220px;
  background: url(https://aicenter.cj.net/common/images/bg_research1.png) no-repeat 100% 0;
}
#section4 ul li:nth-child(2)::after {
  width: 368px; height: 227px;
  background: url(https://aicenter.cj.net/common/images/bg_research2.png) no-repeat 0 0;
}
#section4 ul li:nth-child(3)::after {
  width: 518px; height: 215px;
  background: url(https://aicenter.cj.net/common/images/bg_research3.png) no-repeat 100% 0;
}
#section4 ul li:nth-child(4)::after {
  width: 580px; height: 230px;
  background: url(https://aicenter.cj.net/common/images/bg_research4.png) no-repeat 100% 0;
}
#section4 ul::after {
  content: "";
  display: block;
  clear: both;
  height: 100px;
}

#section5 {
  position: relative;
  background-color: #e6f0fa;
  padding: 100px 0 100px 0;
  overflow: hidden;
}
#section5  .sInner {
  position: relative;
  height:auto;
}
#section5  .sInner p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;
  color: #333;
}
#section5  .sInner .btn {
  margin-top: 40px;
}
#section5 .objs {
  position: absolute;
  top: 0; right: 0;
  width: 600px;
}
#section5 .objs .obj_rect {
  position: absolute;
  right: -100px;
}
#section5 .objs #svg1600 {
  position: absolute;
  opacity: .3;
  right: 20%;
}
#section6 {
  padding: 88px 0 80px;
}
#section6 .sInner {
  display: flex;
  height: 100%;
}
#section6 .sInner > div {
  position: relative;
  width: 50%;
  padding-bottom: 4px;
}
#section6 .sInner > div:nth-child(2) {
  border-left: .5px solid #000;
  padding-left: 60px;
}
#section6 .sInner > div > p,
#section6 .sInner > div > address {
  color: #333;
}
#section6 .btn {
  margin-top: 38px;
  border-color: #333;
}

#footer > div {
  color: #666;
  height: 100%;
  padding: 4% 0 4% 0;
}
#footer div p {
  float: left;
  font-weight: 300;
  line-height: 21px;
}
#footer div p span{
  display: inline-block;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
}
#footer div ul {float: right;}
#footer ul li {
  display: inline-block;
  margin-left: 37px;
}
#footer ul li:nth-child(1) {
  color: #000;
}


@media (max-width:1240px) {
  #headerContainer {max-width: 1080px;}
}
@media (max-width:1024px) {
  header {
    padding: 10px 30px 0 30px;
    height: 70px;
  }
  header nav > div {flex-direction: row-reverse;}
  header nav {width: unset;}
  #gnb > .on ul {
    background: #fff;
    display: block;
    position: absolute;
    top: 100%; left: 0;
    box-sizing: border-box;
    padding: 0 20px 30px 30px;
    height: 0;
    opacity: 0;
    transition: all .4s ease;
  }
  #gnb > .on ul.on {
    opacity: 1;
    height: 220px;
  }
  header nav ul:hover li{color: #000;}
  header nav ul li:hover {color: #000;}
  header nav ul li {display: none; color: #000;}
  header nav ul.on li {display: block;}
  header nav ul li:nth-child(1) {margin-top: 10px;}
  header nav ul li + li {margin-top: 30px;}
  #s1Container {padding-left: 45px;}
  #section1 > #s1SVGs {overflow-x: hidden;}
  #section1 > #s1SVGs::before {
    position: absolute;
    right: -60px; top:-100px;
    border-radius: 50%;
    width: 240px; height: 240px;
  }
  #svg2270 path {
   fill: none; 
  }
  #s1SVGs #s1Circle1, #s1Circle2 {
    width: 210px;
    height: 210px;
  }
  #rotateSVG {
    border: 1px solid red;
  }
}

@keyframes scrollDownArrow {
  0% {opacity: 0;}
  50% {opacity: 100;}
  100% {opacity: 0;}
}

@keyframes apearLtoR {
  0% {
    opacity: 0;
    transform: translateX(-30px)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}
@keyframes apearRtoL {
  0% {
    opacity: 0;
    transform: translateX(30px)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}