#skip-nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: -20px;
}
#skip-nav:focus {
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

/* banner------------------------------- */
.banner {
  color: white;
  background-color: #000;
  font-size: 12px;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  top: 0;
}
.banner button {
  position: absolute;
  right: 5px;
  top: 3px;
  color: white;
}
.banner button::before {
  content: "X";
}

/* nav---------------------------------- */
nav {
  position: fixed;
  width: 100%;
  height: 80px;
  transition: all 0.1s ease-in;
}
nav.on {
  opacity: 0.8;
  background-color: white;
}
nav div {
  position: relative;
  padding-top: 10px;
}
#mainLogo {
  position: absolute;
  display: inline-block;
  left: 50%;
  margin-left: -74px;
}

.nav__menuBtn,
.nav__menuBtn span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.nav__menuBtn {
  position: absolute;
  left: 0;
  width: 27.73px;
  height: 20px;
}
.nav__menuBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.nav__menuBtn span:nth-of-type(1) {
  top: 0;
}
.nav__menuBtn span:nth-of-type(2) {
  top: 8px;
}
.nav__menuBtn span:nth-of-type(3) {
  bottom: 0;
}
.nav__menuBtn.active span:nth-of-type(1) {
  background-color: #fff;
  transform: translateY(8px) rotate(-315deg);
}
.nav__menuBtn.active span:nth-of-type(2) {
  background-color: #fff;
  opacity: 0;
}
.nav__menuBtn.active span:nth-of-type(3) {
  background-color: #fff;
  transform: translateY(-8px) rotate(315deg);
}

.nav__menuUl,
.nav__menuUl li {
  display: inline-block;
}
.nav__menuUl {
  position: absolute;
  right: 0;
}
.nav__menuUl li {
  margin: auto -4px;
  font-size: 12px;
}

.nav__menuSide {
  position: absolute;
  top: 120px;
}
.nav__menuSide li + li {
  margin-top: 5px;
}

.nav__menuSide a,
.nav__menuUl a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.nav__menuSide a:hover,
.nav__menuUl a:hover {
  text-decoration: underline;
}
