@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

/* hack */
html {
  font-family: "Source Code Pro";
}

.wrap {
  padding: 20px;
  box-sizing: border-box;
}
.hide {
  display: none;
}
button {
  background: transparent;
  border: none;
}

.hide_clipPath {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
a {
  color: black;
  text-decoration: none;
}
