


.emphEffect {
    position: absolute;
    opacity: 1;
    overflow: hidden;
}
.emphEffect span {
    position: absolute;
}
.emphEffect span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,red);
}
.emphEffect.on span:nth-child(1) {
    left: 100%;
    transition: .9s;
}
.emphEffect span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,red);
}
.emphEffect.on span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}
.emphEffect span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,red);
}
.emphEffect.on span:nth-child(3) {
    right: 100%;
    transition: .9s;
    transition-delay: .5s;
}
.emphEffect span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,red);
}
.emphEffect.on span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}