@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');


/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}

.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobile_only {display: none !important;}

#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
.wrapper {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    box-sizing: border-box;
    max-width: 1300px;
    display: flex;
    padding: 20px 0;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
/* header */
body {background: #f5f5f5;}

header {
    box-sizing: border-box;
    background: #fff;
    width: 100%; height: 68px;
    position: fixed;
    z-index: 999;
}
#logo {
    width: 88px;
    height: 20px;
    background-image: url(https://static-cdn.onstove.com/0.0.1/img/gnb-responsive/bi.svg);
}
#games {width: calc(100% - 140px - 150px);}
.updateMark {opacity: 0;}
.updateMark.on {opacity: 1;}
#games > * {
    display: inline-block;
    margin-right: 40px;
}
#games h2 {
    font-size: 20px;
    font-weight: bolder;
}
#games > li > ul {
    display: none;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%), 0 0 1px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    width: 320px;
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    transform: translateY(10px);
}
#games > li.on > ul {display: block;}
#games > li.on:not(#indiGame) h2 a{color: #fc6020}


#games > li > ul > li {
    display: flex;
    align-items: center;
    margin: 10px;
}
#games > li > ul > li  > * {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 5px;
}
#games > li > ul > li > div {
    padding: 5px;
}
#games > li > ul > li > a {
    background-color: blue;
    width: 64px; height: 64px;
}
#games > li > ul > li h3 {
    font-size: 16px;
}
#games > li > ul > li > div {
    width: calc(100% - 64px);
    border-bottom: 1px solid #a0a0a03b;
}
#games > li > ul > li .updateMark {
    color : #9b54f6;
    margin-left: 4px;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 0.33px;
    white-space: nowrap;
}
#games > li > ul > li p {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    font-size: 13px;
    justify-content: space-between;
}
#games > li > ul > li p > a {
    display: flex; position: relative;
    box-sizing: border-box;
    justify-content: center; align-content: center;
    border-radius: 2px; color: #3a3a3a;
    text-align: center; overflow: hidden;
    padding: 5px 12px; height: 28px;
    border: 2px solid transparent;
    white-space: nowrap;
    background-color: rgba(204, 204, 204, 0.474);
}
#gnb_side {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#gnb_side > li {display: inline-block;}
#gnb_side > li > ul {
    position: absolute;
    display: none;
}

/* #gnb_side #lang {} */
#gnb_side #lang h3,
#gnb_side #gnb h3
 {position: relative;}
#gnb_side #lang h3:hover::after {
    content: '한국어';
    position: absolute;
    top: 90%;
    left: 50%;
    margin-top: 8px;
    padding: 4px 6px;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #3a3a3a;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
}
#gnb_side #gnb h3:hover::after {
    content: '전체메뉴';
    position: absolute;
    top: 90%;
    left: 50%;
    margin-top: 8px;
    padding: 4px 6px;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #3a3a3a;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
}

#gnb_side #login {
    font-size: 14px;
    font-weight: 1200;
    transform: translateY(-1px);
}
#gnb_side #login:hover {
    text-decoration: underline;
}
.material-symbols-outlined:hover {color:#fc6020}


/* main */
main {
    /* border: 1px solid blue; */
    height: 2950px; 
    /* ** */
}
main > .wrapper {
    margin-top: 100px;
    flex-direction: column;
}
main section {
    margin-bottom: 50px;
}
section h2 {
    margin-bottom: 24px;
}
#section1 {
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 360px;
}
#section1 > div {
    display: inline-block;
    border-radius: 4px;
    height: 100%;
}
#section1 > div a {
    display: block;
    width: 100%; height: 100%;
}
#section1 > div:nth-child(1) {width: 860px;}
#section1 > div:nth-child(2),
#section1 > div:nth-child(3) {
    width: 200px;
    display: block;
    background-size: cover!important;
    background-position: center 0!important;
    border-radius: 4px;
}
#section1 > div:nth-child(2) {background-image: url("https://d2x8kymwjom7h7.cloudfront.net/live/application_no/10009/application_no/10009/iop-center-front/메인_01_통합형배너_kards2_main_short_LM.png");}
#section1 > div:nth-child(3) {background-image: url("https://d2x8kymwjom7h7.cloudfront.net/live/application_no/10009/application_no/10009/iop-center-front/(CAoA)드래곤관찰일지_온스토브메인_세로형(1).png");}
#section1 .slide_container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid red;
}
#section1 .slides {
    position: relative;
    border-radius: 4px;
    width: 100%; height: 100%; 
    white-space: nowrap;
    letter-spacing: 0;
    transition: all .3s ease;
}
#section1 .slides li {
    display: inline-block;
    box-sizing: border-box;
    margin-right: -5px;
    width: 100%; height: 100%;
}
#section1 .slides > li > a {
    position:absolute; width: 100%; height: 100%;
    text-align: center;
}
#section1 .indicator {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 25px;
}
#section1 .indicator li {
    display: inline-block;
    position: relative;
    /* border: 1px solid orange; */
    background-color: #828282;
    width: 8px; height: 8px;
    border-radius: 50%;
}
#section1 .indicator li.on {
    background-color: #fff;
    width: 24px; height: 9px; border-radius: 4px;
}
#section1 .indicator li a {
    width: 100%; height: 100%;
}
/* #section1 .control {position: absolute; left: 50%; transform: translateX(-50%);} */
#section1 .control button {position: absolute; top: 50%; transform: translateY(-50%);}
#section1 .control button.left {left: 0;}
#section1 .control button.right  {right: 0;}

/*  */
#getamped {
    width: 100vw;
    background: #9b3839;
    height: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
}
#getamped > p.wrapper {
    color: #fff;
    font-size: 22px;
    padding: 30px 120px;
}
/*  */

#section2 {
    width: 100%; height: 280px;
    display: block;
    position: relative;
}
#section2 > ul {
    width: 100%; height: calc(100% - 50px);
    border: 1px solid orange;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#section2 > ul > li {
    height: 33.33%;
}
/* #section2 > ul > li a {
    display: flex;
} */
#section2 > ul > li a > * {
    text-align: center;
    /* display: inline-block; */
}
#section2 h4 {
    height: 100%; width: 20%;
    position: relative;
}
#section2 h4 span {
    position: absolute;
    font-size: 1.1rem;
    width: 70%;
    top: 50%; 
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    position: absolute;
    text-decoration: none;
    color: #ccc;
    text-align: center;
}
#section2 li div {
    position: absolute;
    display: none;
    top: 0; right: 0;
    width: 80%; height: 100%;
    border: 1px solid blue;
}
#section2 li.on h4 {background: #292929;}
#section2 li.on span{color: white;}
#section2 li.on h4::after {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #292929;
    right: -3px; top: 50%;
    transform:rotate(45deg) translateY(-50%);
}
#section2 li.on div {
    display: block;
}

#section3 {
    width: 100%;
    position: relative;
}
#seciton3 * {
    box-sizing: border-box;
}

#section3 > #container {
    width: 100%; 
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section3BG {
    position: absolute; 
    max-width: none;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,calc(-50% + 30px));
    z-index: -99;
    height: 365px;
    width: 100vw;
    background-image: url(../img/메인_06_인디게임리뷰_게임명_review_211f1f.jpg);
    background-repeat: no-repeat;
    background-position-x: -300px;
}
#section3 > div > * {height: 80%;}
#section3 > div h3 {
    font-size: 14px;
    margin-bottom: 30px;
    color: #fff;
}
#section3 > div > div {
    display: flex;
    height: 200px;
    justify-content: flex-end;
    flex-direction: column;
}
#section3 > div > div > div {height: 32px;}
#section3 > div > div button:hover{
    cursor: pointer;
}
#section3 > div > div button {
    padding: 8px;
    border: 1px solid #fff; 
    background-color: #fff;
    width: 100px; height: 100%;
    font-size: 12px;
}
#section3 > div > div button:nth-child(2) {
    color: #fff; 
    background: transparent;
}

#section3 #reviews {
    display: flex;
    justify-content: flex-end;
    color: #999;
}
#section3 #reviews li {
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
}
#section3 #reviews .user {
    display: flex;
    align-items: center;
}
#section3 #reviews .user > * {
    font-size: 14px;
}
#section3 #reviews .user img {
    border: 1px solid blue;
    border-radius: 50%;
    margin-right: 7px;
    display: inline-block;
    width: 50px; height: 50px;
}
#section3 .userInfo {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#section3 .userID {
    display: inline;
    color: #000;
    width: 40%;
}
.timePlayed {
    display: block;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-size: 12px;
}

#section4 {
    width: 100%;
    border: 1px solid yellow;
}
#section4 #s4Upper {
    height: 500px;
}
#section4 #s4Upper h4 {
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: #1f1f1f;
    height: 56px;
    width: 25%;
}
#section4 #s4Upper li.on h4 {
    color: #fff;
    background-color: #1f1f1f;
}
#section4 #s4Upper h4 span {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
#section4 #s4Upper li:nth-child(2) h4 {left: 25%;}
#section4 #s4Upper li:nth-child(3) h4 {left: 50%;}
#section4 #s4Upper li:nth-child(4) h4 {left: 75%;}
#section4 #s4Upper > li {
    position: absolute;
    width: 100%;
}
#section4 #s4Upper li .s4Desc {display: none;}
#section4 #s4Upper li.on .s4Desc {
    display: block;
    box-sizing: border-box;
    margin-top: 56px;
    padding: 20px;
}
#section4 #s4Upper .s4Desc ul {
    display: flex;
    justify-content: space-around;
}
#section4 #s4Upper .s4Desc > ul li {
    box-shadow: #000;
    border-radius: 10px;
    position: relative;
    background: #fff;
    width: 25%;
    height: 356px;
}
#section4 #s4Upper .s4Desc ul > li + li {margin-left: 15px;}
#section4 #s4Upper .s4Desc ul > li a {
    width: 100%; height: 100%;
    display: inline-block;
}
#section4 #s4Upper .s4Desc ul > li a img {
    height: 50%; width: 100%;
}
.s4Desc ul li a > div {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.s4Desc h5 {
    font-size: 18px;
    display: inline;
}
.s4Desc div p {
    font-size: 14px;
    font-weight: lighter;
    line-height: 250%;
}
.s4Desc .price {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
}
.s4Desc .price .discount {
    display: none;
}
.s4Desc .price .discount {
    display: inline-block;
    font-style: normal;
    color: #fc6020;
}
.s4Desc .price .won {
    font-style: normal;
}

.s4Desc div {
    padding: 20px 15px;
}
.s4Desc .tag{
    position: absolute;
    display: inline-block;
    text-align: center;
    /* width: 100%; */
    top: 0; left: 0;
}
.tag .sale, .tag .new, .tag .update, .tag .sOnly {
    border-radius: 1px;
    padding: 2px 8px;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
}
.tag .sale {background-color: #ec3b48;}
.tag .new {background-color: #fc6020;}
.tag .update {background-color: #944cec;}

#pcOnline ul li a .buttons {
    text-overflow: unset;
    display: flex;
    width: 90%;
    justify-content: space-between;
    white-space: nowrap;
    word-break: break-all;
    position: absolute;
}
#pcOnline ul li a .buttons button:hover {
    cursor: pointer;
}
#pcOnline div button {
    display: inline;
    border: .5px solid ;
    padding: 8px;
    border: 1px solid #ececec; 
    background-color: #fff;
    color: #3a3a3a;
    width: 49%; height: 100%;
    font-weight: bold;
    font-size: 12px;
    text-overflow: ellipsis;
}


#section4 #s4Lower {
    border-bottom: 2px solid #828282;
    margin-bottom: 400px;
}
#s4Lower > li {display: inline-block;}
#s4Lower > li#s4PCGame > ul {transform: translateX(-120px);}
#s4Lower > li#s4MobileGame > ul {transform: translateX(-232px);}

#s4Lower > li > a {
    transform: translateY(1px);
    display: inline-block;
    padding-bottom: 20px;
    margin-right: 50px;
}
#s4Lower > li.on > a {
    font-weight: bold;
    border-bottom: 2px solid #000;
}
#s4Lower > li > ul {
    position: absolute;
    display: none;
}
#s4Lower > li.on > ul {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 15px));
    gap: 20px 20px;
    grid-template-rows: repeat(3 , 140px);
    padding: 20px 0;
    width: 100%;
}
#s4Lower > li > ul > li {
    border: 1px solid blue;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
   
}
#s4Lower ul li > a {
    display: block;
    position: relative;
    padding: 20px;
    width: calc(100% - 40px);
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis; 
}

#s4Lower ul a h3 {
    font-size: 16px;
    font-weight: 600;
    display: inline;
 }
 #s4Lower ul a span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
 }
#s4Lower ul li > a .more {
    box-sizing: border-box;
    opacity: 0;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    position: absolute;
    width: 100%; height: 50px;
    background: #000000af;
    transform: translateX(-50%);
    bottom: 30px; left: 50%;
}
#s4Lower ul li > a:hover .more {opacity: 1; color: #3a3a3a;}
#s4Lower ul li > a .more i {box-sizing: border-box; padding: 0 10px 5px 0;}
#s4Lower ul li > a .more i:hover {color: #fff;}
#s4PCGame .more i,
#s4MobileGame .more i {position: absolute; font-style: normal;}
#s4PCGame .more i:nth-child(1),
#s4MobileGame .more i:nth-child(1)
{left: 15%;}

#s4PCGame .more::after,
#s4MobileGame .more:not(.no):after {
    content: "";
    position: absolute;
    transform: translateY(2.5px);
    width: 1px; height: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.514);
}
 #s4PCGame .more i:nth-child(2){right: calc(15% + 20px);}
 #s4MobileGame .more.no > i:nth-child(1) {left: 50%; transform: translateX(-50%);}
#s4Banner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
#s4Banner > div {
    position: relative;
    font-weight: bold;
    height: 150px;
    width: calc(50% - 10px);
    font-size: 18px;
    border: 1px solid red;
    border-radius: 10px;
}
#s4Banner > div a {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 250px;
    width: 100%; height: 100%;
}
footer {
    background-color: #1f1f1f;
    color: #7d7d7d;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 1em;
}
footer hr {
    margin: 20px 0;
    border: 1px solid;
    border-top: 0;
}
footer div {
    display: inline-block;
    width: 100%;
    max-width: 1280px;
    text-align: left;
}
footer div h3 {
    font-size: 1em;
}
footer div h3,
footer #fAnnouncement {
    color: #dadada;
    display: inline-block;
    margin-right: 20px;
}
footer #fAnnouncement {height: 16px;}
footer #fAnnouncement li {
    position: absolute;
    display: none;
}
footer #fAnnouncement li.on {display: inline-block;}
footer #finfo li {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
}
footer #fid, #fid * {
    display: inline;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
}
footer #fid span {
    margin-right: 10px;
}
footer #fid a {
    text-decoration: underline;
}