@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}

.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobile_only {display: none !important;}

#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
.wrapper {
    /* overflow: hidden; */
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    box-sizing: border-box;
    max-width: 1300px;
    display: flex;
    padding: 20px 0;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
/* header */
body {background: #f5f5f5;}

header {
    box-sizing: border-box;
    background: #fff;
    width: 100%; height: 68px;
    position: fixed;
    z-index: 999;
}
#logo {
    width: 88px;
    height: 20px;
    background-image: url(https://static-cdn.onstove.com/0.0.1/img/gnb-responsive/bi.svg);
}
#games {width: calc(100% - 140px - 150px);}
.updateMark {opacity: 0;}
.updateMark.on {opacity: 1;}
#games > * {
    display: inline-block;
    margin-right: 40px;
}
#games h2 {
    font-size: 22px;
}
#games > li > ul {
    display: none;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%), 0 0 1px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    width: 320px;
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
}
#games > li > ul > li {
    display: flex;
    align-items: center;
    margin: 10px;
}
#games > li > ul > li  > * {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 5px;
}
#games > li > ul > li > div {
    padding: 5px;
}
#games > li > ul > li > a {
    background-color: blue;
    width: 64px; height: 64px;
}
#games > li > ul > li h3 {
    font-size: 16px;
}
#games > li > ul > li > div {
    width: calc(100% - 64px);
    border-bottom: 1px solid #a0a0a03b;
}
#games > li > ul > li .updateMark {
    color : #9b54f6;
    margin-left: 4px;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 0.33px;
    white-space: nowrap;
}
#games > li > ul > li p {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    font-size: 13px;
    justify-content: space-between;
}
#games > li > ul > li p > a {
    display: flex; position: relative;
    box-sizing: border-box;
    justify-content: center; align-content: center;
    border-radius: 2px; color: #3a3a3a;
    text-align: center; overflow: hidden;
    padding: 5px 12px; height: 28px;
    border: 2px solid transparent;
    white-space: nowrap;
    background-color: rgba(204, 204, 204, 0.474);
}
#gnb_side {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#gnb_side > li {display: inline-block;}
#gnb_side > li > ul {
    position: absolute;
    display: none;
}

/* #gnb_side #lang {} */
#gnb_side #lang h3,
#gnb_side #gnb h3
 {position: relative;}
#gnb_side #lang h3:hover::after {
    content: '한국어';
    position: absolute;
    top: 90%;
    left: 50%;
    margin-top: 8px;
    padding: 4px 6px;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #3a3a3a;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
}
#gnb_side #gnb h3:hover::after {
    content: '전체메뉴';
    position: absolute;
    top: 90%;
    left: 50%;
    margin-top: 8px;
    padding: 4px 6px;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #3a3a3a;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
}

#gnb_side #login {
    font-size: 15px;
    transform: translateY(-1px);
}
#gnb_side #login:hover {
    text-decoration: underline;
}
.material-symbols-outlined:hover {color:#fc6020}


/* main */
main {
    /* border: 1px solid blue; */
    height: 2000px; 
    /* ** */
}
main > .wrapper {
    margin-top: 100px;
    flex-direction: column;
}
main section {
    margin-bottom: 50px;
}
#section1 {
    box-sizing: border-box;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 360px;
}
#section1 > div {
    display: inline-block;
    border-radius: 4px;
    height: 100%;
}
#section1 > div a {
    display: block;
    width: 100%; height: 100%;
}
#section1 > div:nth-child(1) {width: 860px;}
#section1 > div:nth-child(2),
#section1 > div:nth-child(3) {
    width: 200px;
    display: block;
    background-size: cover!important;
    background-position: center 0!important;
    border-radius: 4px;
}
#section1 > div:nth-child(2) {background-image: url("https://d2x8kymwjom7h7.cloudfront.net/live/application_no/10009/application_no/10009/iop-center-front/메인_01_통합형배너_kards2_main_short_LM.png");}
#section1 > div:nth-child(3) {background-image: url("https://d2x8kymwjom7h7.cloudfront.net/live/application_no/10009/application_no/10009/iop-center-front/(CAoA)드래곤관찰일지_온스토브메인_세로형(1).png");}
#section1 .slide_container {position: relative;}
#section1 .slides {
    border: 1px solid orange;
    width: 100%; height: 100%; position: relative; }
#section1 .slides > li, #section1 .slides > li > a {
    position:absolute; width: 100%; height: 100%;
    text-align: center;
}
#section1 .indicator {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 25px;
}
#section1 .indicator li {
    display: inline-block;
    position: relative;
    /* border: 1px solid orange; */
    background-color: #828282;
    width: 8px; height: 8px;
    border-radius: 50%;
}
#section1 .indicator li.on {
    background-color: #fff;
    width: 24px; height: 9px; border-radius: 4px;
}
#section1 .indicator li a {
    width: 100%; height: 100%;
}
/* #section1 .control {position: absolute; left: 50%; transform: translateX(-50%);} */
#section1 .control button {position: absolute; top: 50%; transform: translateY(-50%);}
#section1 .control button.left {left: 0;}
#section1 .control button.right  {right: 0;}

/*  */
#getamped {
    width: 100vw;
    background: #9b3839;
    height: 120px;
    margin-bottom: 100px;
    margin-top: 50px;
}
#getamped > p.wrapper {
    color: #fff;
    font-size: 22px;
    padding: 30px 120px;
}
/*  */

#section2 {
    border: 1px solid red;
    width: 100%; height: 280px;
    display: block;
    position: relative;
}
#section2 h2 {margin-bottom: 20px;}
#section2 > ul {
    width: 100%; height: calc(100% - 50px);
    border: 1px solid orange;
    position: relative;
    display: flex;
    flex-direction: column;
}
#section2 > ul > li {
    height: 33.33%;
}
/* #section2 > ul > li a {
    display: flex;
} */
#section2 > ul > li a > * {
    text-align: center;
    /* display: inline-block; */
}
#section2 h4 {
    height: 100%; width: 20%;
    position: relative;
}
#section2 h4 span {
    position: absolute;
    font-size: 1.4rem;
    width: 70%;
    top: 50%; 
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    position: absolute;
    text-decoration: none;
    color: #ccc;
    text-align: center;
}
#section2 li div {
    position: absolute;
    display: none;
    top: 0; right: 0;
    width: 80%; height: 100%;
    border: 1px solid blue;
}
#section2 li.on h4 {background: #292929;}
#section2 li.on span{color: white;}
#section2 li.on h4::after {
    content: "";
    position: absolute;
    width: 20px; height: 20px;
    background-color: #292929;
    right: -3px; top: 50%;
    transform:rotate(45deg) translateY(-50%);
}
#section2 li.on div {
    display: block;
}

#section3 {
    width: 100%;
    border: 1px solid red;
}
#section3 h2 {
    margin-bottom: 24px;
}
#section3 > div {
    width: 100%; 
    height: 365px;
    border: 1px solid red;
    padding: 50px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #section3 #bg {
    position: absolute; 
    z-index: -99;
    left: -10vw;
    height: 365px;
    width: 90vw; ;
    background-image: url(../img/메인_06_인디게임리뷰_게임명_review_211f1f.jpg);
} */
#section3 > div > * {
    height: 100%;
}
#section3 > div h3 {
    font-size: 14px;
    margin-bottom: 30px;
    color: #fff;
}
#section3 > div > div {
    display: flex;
    height: 200px;
    justify-content: flex-end;
    flex-direction: column;
}
#section3 > div > div > div {
   height: 32px;
   /* border: 1px solid blue; */
}
#section3 > div > div button {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #fff; background-color: #fff;
    width: 100px; height: 100%;
    font-size: 12px;
}
#section3 > div > div button:nth-child(2) {
    color: #fff; background: transparent;
}

#section3 #reviews {
    display: flex;
    width: 640px;
    justify-content: space-between;
    color: #999;
}
#section3 #reviews li {
    border: 1px solid red;
    width: calc(33% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
#section3 #reviews .user {
    border: 1px solid teal;
    width: 100%; 
}
#section3 #reviews .user > * {
    font-size: 14px;
}
#section3 #reviews .user img {
    border: 1px solid blue;
    display: inline-block;
    width: 50px; height: 50px;
}
#section3 .userInfo {
    display: inline-block;
    width: 50%;
    border: 1px solid orange;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#section3 .userID {
    border: 1px solid red;
    display: inline;
    color: #000;
    width: 40%;
}
.timePlayed {
    display: block;
    border: 1px solid red;
}


footer {
    background: rgba(169, 169, 169, 0.457);
    top: 4000px;
    display: flex;
}