/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}

.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobile_only {display: none !important;}

#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
/*  */
header {
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    border: 1px solid red;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
header > * {
    display: inline-block;
    /* border: 1px solid red; */
}
header ul li {
    display: inline-block;
    border: 1px solid yellow;
    width: 100px; height: 100px;
}
header ul li a {
    display: block;
    transform: scale(.8);
    background-color: white;
    width: 100%; height: 100%;
    transition: all .3s ease;
}
header ul li:hover a {
    transform: scale(.8) translateY(-10px);
}

main {
    display: block;
    height: 100vh;
    width: 100%;
}
main ul {
    display: flex;
    width: 100%;
    height: 100%;
}
main ul li {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    overflow: hidden;
    position: relative;
    transition: all .3s ease;
}
main ul li > a {
    display: block;
    width: 100%; height: 100%;
    transition: all .8s ease;

}
main ul li > a {
    background-size: cover;
    background-repeat: no-repeat;
}
main ul li > div {
    position: absolute;
    width: 0%; height: 100%;
    background: white;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    text-align: center;
}
main ul li.on > div {
    width: 100%;
}
main ul .close {
    position: absolute;
    right: 15px; top: 15px;
    z-index: 2;
}
main ul p {
    /* position: absolute; */
    display: block;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 30px;
    scroll-behavior: smooth;
}

main ul li:nth-child(1) > a {background-image: url(../img/1.jpg);}
main ul li:nth-child(2) > a {
    background-image: url(../img/2.jpg);
    background-position-x: 10%;
}
main ul li:nth-child(3) > a {
    background-image: url(../img/3.jpg);
    background-position-x: 50%;
}
main ul li:nth-child(4) > a {
    background-image: url(../img/4.jpg);
    background-position-x: 40%;
}
main ul li:hover a{
    transform: scale(1.2);
}