/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}

.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobile_only {display: none !important;}

#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
/*  */
header {
    width: 100%;
    border: 1px solid red;
    position: fixed;
    display: none;
    justify-content: space-between;
}
header ul {
    border: 1px solid orange;
}
header ul li {
    display: inline-block;
    width: 100px; height: 100px;
    border: 1px solid yellow;
}

main {
    display: block;
    border: 1px solid red;
    height: 100vh;
    width: 100%;
}
main ul {
    display: flex;
    width: 100%;
    height: 100%;
}
main ul li {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    border: 1px solid yellow;
    overflow: hidden;
}
main ul li a {
    display: block;
    width: 100%; height: 100%;
    transition: all .3s ease;

}
main ul li a {
    background-size: cover;
    background-repeat: no-repeat;
}
main ul li:nth-child(1) a {background-image: url(../img/1.jpg);}
main ul li:nth-child(2) a {
    background-image: url(../img/2.jpg);
    background-position-x: 10%;
}
main ul li:nth-child(3) a {
    background-image: url(../img/3.jpg);
    background-position-x: 50%;
}
main ul li:nth-child(4) a {
    background-image: url(../img/4.jpg);
    background-position-x: 40%;
}
main ul li:hover a{
    transform: scale(1.2);
}