/* reset */
body {
    margin: 0;
    font-family: 'NanumBarunGothic';
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit;text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}

.hide_clipPath {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0);}
.mobileOnly {display: none;}

#skipNav {display: block; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; top: -50px; z-index: 99999;}
#skipNav:focus {top: 0;}
/* 
font-family: 'NanumBarunGothicExtraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold';
 */
.buttonSt {
    background-color: #fff;
    color: #1553AD;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #1553AD;
    font-family: 'NanumBarunGothic';
    font-weight:lighter;
    transition: all .3s ease;
}
.buttonSt:hover {
    background-color: #1553AD;
    color: #fff;
}

/*  */
header {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%; height: 120px;
    z-index: 10;
    padding: 30px;
    color: #fff;
}
h1.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/logo.svg");
    width: 140px; height: 140px;
}
header h1 a {display: block; width: 100%; height: 100%;}

header > ul {
    display: flex;
    width: 400px;
    padding-top: 15px;
    justify-content: space-between;
}
header > ul > li {
    width: 80px; height: 80px;
    text-align: center;
    transition: all .3s ease;
}
header > ul > li:hover {transform: translateY(-5px);}

header > ul > li a {
    display: block;
    position: relative;
    height: 100%;
}
header > ul > li a span:nth-child(1) {
    display: block;
    font-size: 50px;
    color: #1553AD;
}
header > ul > li a span:nth-child(2) {
    display: block;
    position: absolute;
    left: 50%; bottom: 0;
    word-break: keep-all;
    width: 100%;
    font-size: 14px;
    transform: translateX(-50%);
    color: #fff;
    
}
header #headerKakao span:nth-child(1) {
    background-image: url("../img/kakao.svg");
    background-repeat: no-repeat;
    height: 50px;
    transform: translateX(15px);
}
header #headerBlog span:nth-child(1) {
    background-image: url("../img/blog.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px;
    margin-top: 8px;
    height: 40px;
    transform: translateX(15px);
}
header #headerBlog span:nth-child(2) {
    bottom: 8px;
}

main {
    display: block;
    height: 100vh;
    width: 100%;
}
main *::-webkit-scrollbar {
    width: 5px;
  } 
main *::-webkit-scrollbar-thumb {
background-color: #7f7f7f79;
border-radius: 10px;
}
main > ul {
    display: flex;
    width: 100%;
    height: 100%;
}
main > ul > li {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    overflow: hidden;
    position: relative;
    transition: all .8s ease;
}
main > ul > li.on {width: 60%;}
main > ul > li > a {
    display: block;
    width: 100%; height: 100%;
    transition: all .3s ease;
}
main ul li > a {
    background-size: cover;
    background-repeat: no-repeat;
}
main ul li .telecom {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 300px; height: 300px;
    box-sizing: border-box;
    padding: 50px 30px 0px 30px;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 10%;
    background: #00000085;
    color: #fff;
}
.plans .logo {
    position: absolute;
    top: 30px; left: 30px;
    width: 80px;
}

/* main ul li:hover .telecom {
    background: #009cd58e;
    color: #fff;
} */
main .telecom h2 {
    width: 100%; height: 100px;
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
main .telecom p {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    word-break: keep-all;
    font-weight: 400;
}

#SKB h2 {background-image: url("../img/skb.svg");}
#uPlus h2 {background-image: url("../img/lgu.svg");}
#KT h2 {
    width: 40%;
    background-image: url("../img/kt.svg");
}
#KTSkylife h2 {background-image: url("../img/kts.svg");}




main ul li .plans {
    position: absolute;
    width: 0%; height: 100%;
    background: white;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    text-align: center;
}
main ul li.on .plans {width: 100%;}
main ul .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px; top: 15px;
    z-index: 2;
    width: 30px; height: 30px;
    border: none;
}
main ul .close::before,
main ul .close::after {
    content: "";
    position: absolute;
    width: 15px; height: 3px;
    background: #1553AD;
}
main ul .close::before {transform: rotate(45deg);}
main ul .close::after {transform: rotate(-45deg);}
main ul .close:hover::before,
main ul .close:hover::after {background: #fff;}

main > ul > li:nth-child(1) > a {background-image: url(../img/1.jpg);}
main > ul > li:nth-child(2) > a {
    background-image: url(../img/2.jpeg);
    background-position-x: 75%;
}
main > ul > li:nth-child(3) > a {
    background-image: url(../img/3.jpeg);
    background-position-x: 50%;
}
main > ul > li:nth-child(4) > a {
    background-image: url(../img/4.jpeg);
    background-position-x: 40%;
}
main > ul > li:hover > a{
    transform: scale(1.2);
}
main > ul .plans > div {display: block;}
main > ul .plans {
    display: none;
    box-sizing: border-box;
    padding: 120px 20px 0 20px;
}
main > ul > li.on .plans {display: block;}

.plans > div {margin-bottom: 100px;}
.plans h3 {
    color: #1553AD;
    font-family: 'NanumBarunGothicBold';
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 50px;
    word-break: keep-all;
}
.plans h3 > span.material-symbols-outlined {
    font-size: 45px;
    margin-right: 10px;
    transform: translateY(10px);
}
.plans .grid-container {
    display: grid;
    grid-gap: 0px;
    background-color: #f1f1f1;
    padding: 10px;
}
.plans .grid-item {
    background-color: #ffffff;
    border: .5px solid #ccc;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.internetTv .grid-container{grid-template-columns: repeat(4, 1fr);}
.internet .grid-container{grid-template-columns: repeat(3, 1fr);}

#KTSkylife .internetTv .grid-container{grid-template-columns: repeat(3, 1fr);}
#KTSkylife .internet .grid-container{grid-template-columns: repeat(4, 1fr);}

.grid-container .th {
    color: #fff;
    background-color: #1553AD;
}
.grid-container .th.thE {
    background-color: #009DD5;
 }
.grid-container .tr2 {
    background-color: #f1f1f1;
}

.plans .info > div ul {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    white-space: nowrap;
}
.plans .info li {overflow: visible;}
.plans .info li > a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.plans .info li a > * {
    margin-bottom: 20px;
    word-break: keep-all;
}
.plans .info li a span {
    font-size: 100px;
    color: #1553AD;
}
 .plans .notice ul,
 .plans .caution ul {
    box-sizing: border-box;
    padding: 50px 10% 50px 15%;
    border: 1px solid #009DD5;
    border-left: none; 
    border-right: none;
    text-align: left;
    word-break: keep-all;
 }
 .plans .notice ul li,
 .plans .caution ul li {
    width: 100%;
    list-style: outside;
    margin: 15px 0;
 }

footer {
    display: none;
}

@media (max-width: 1024px) {
    .mobileOnly {display: initial;}
    header {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
    }
    header > .logo {
        position: absolute;
        background-size: contain;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 35px;
    }
    header > ul {
        position: fixed;
        background-color: #fff;
        padding: 10px;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-around;
    }
    main {
        height: calc(100vh - 100px);
    }
    main > ul {
        display: block;
        width: 100%;
    }
    header > ul > li a span:nth-child(2) {
        color: #1553AD;
    }
    main > ul > li {
        width: 100%;
        height: 25%;
    }
    main > ul > li.on {
        width: 100%;
        height: 90%;
    }
    main > ul > li > a {
        background-size: 50% auto;
        background-position-y: 60%;
    }
    main > ul > li.on > a {
        position: relative;
        background-position-y: top;
    }
    main > ul > li:nth-child(1) > a {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/1.jpg');
        background-position-x: 100%;
    }
    main > ul > li:nth-child(2) > a {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/2.jpeg');
        background-position-x: 100%;
    }
    main > ul > li:nth-child(3) > a {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/3.jpeg');
        background-position-x: 100%;
    }
    main > ul > li:nth-child(4) > a {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/4.jpeg');
        background-position-x: 100%;
    }
    main ul li .telecom {
        background: none;
        left: 10px;
        top: -50px;
        transform: none;
        width: 200px;
    }
    main .telecom h2 {
        margin-bottom: 10px;
    }
    main .telecom p {
        font-size: 15px;
        color: black;
        white-space: nowrap;
    }
    main ul li.on .plans {
        height: 70%;
        box-sizing: border-box;
        transform: translate(-50%,-29%);
        border: 4px solid #009DD5;
    }
    .plans .logo {
        background-size: cover;
        top: 15px;
        left: 10px;
        width: 75px;
        height: 50px;
    }
    .plans .grid-item {
        font-size: 11px;
    }
}

@keyframes left0to-n {
    0% {
        left: 0;
    }
    100% {
        left: -5%;
    }
}